.homepage{
    display: flex;
    height: 100vh --150px;
}
/* .sampleCommands{
    width: 50%;
    background-color: blue;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-inputForm{
    width: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
} */
